---
name: ci

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-unit:
    uses: sous-chefs/.github/.github/workflows/lint-unit.yml@3.1.0
    permissions:
      actions: write
      checks: write
      pull-requests: write
      statuses: write
      issues: write

  integration:
    needs: "lint-unit"

    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - "debian-9"
          - "debian-10"
          - "amazonlinux-2"
          - "centos-7"
          - "centos-8"
          - "centos-stream-8"
          - "ubuntu-1804"
          - "ubuntu-2004"
        suite:
          - "default"
          - "instance"
      fail-fast: false

    steps:
      - name: Check out code
        uses: actions/checkout@v4 # v4
      - name: Install Chef
        uses: actionshub/chef-install@3.0.0
      - name: Dokken
        uses: actionshub/test-kitchen@2.1.0
        env:
          CHEF_LICENSE: accept-no-persist
          KITCHEN_LOCAL_YAML: kitchen.dokken.yml
        with:
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
